// Specific CSS for your home-page

.home-wrapper {
  background: black;
  height: 100vh;
  position:relative;
}

.layer {
    background-color: rgba(39, 70, 83, 0.5);
    position: absolute;
    height: 100vh;
}

.home-content {
  padding: 40px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 90vh;
}

.home-text-icon {
  padding-top: 30px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-link {
  text-align: right;
  color: yellow;
}

.logo {
  width: 200px;
  height:200px;
  background-color: yellow;
  border-radius: 50%;
  margin: 0 auto;
}

.h2-home {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  color: #FEF9EF;

}

.h5-home {
 font-family: Montserrat;
 font-size: 18px;
 font-weight: 200;
 color: #FEF9EF;
 text-align: center;
 margin-left: 0;
 margin-right: 0;
}

.fa-calendar-check {
  color: white;
  text-align: center;
  font-size: 60px;
}

.search-bar {
  position: relative;
}

.form-control {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);;
  border-radius: 5px;
  background-color: #FEF9EF;

}
