<div class="navbar navbar-expand-sm navbar-light navbar-amandla">
  <div class="container px-3">
    <div class="nav-back">
      <%=  link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dpnjiruwh/image/upload/v1607523164/Amandla_logo_yellow-01_xtdkfg.png" %>
      <% end %>
    </div>
    <div class="nav-title"><%= title %></div>
  </div>
</div>

