<div class="home-wrapper">
    <div class="home-content">
      <div class="logo">
<!--! Place the logo here -->
      </div>
      <div class="home-text-icon">
        <i class="far fa-calendar-check"></i>
        <h2 class="h2-home">Calendario de Jornadas</h2>
        <h5 class="h5-home">Horarios de trabajo</h5>
        <%= link_to "Login", calendar_index_path %>
      </div>
    </div>
  </div>
</div>
